Web/WebServiceSession1/TemperatureConverter/WebContent/wsdl/Converter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://metacube.com" xmlns:intf="http://metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="temperatureConverterFahrenheitTOCelsius">
    <complexType>
     <sequence>
      <element name="f" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="temperatureConverterFahrenheitTOCelsiusResponse">
    <complexType>
     <sequence>
      <element name="temperatureConverterFahrenheitTOCelsiusReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="temperatureConverterFahrenheitTOCelsiusResponse">

      <wsdl:part element="impl:temperatureConverterFahrenheitTOCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="temperatureConverterFahrenheitTOCelsiusRequest">

      <wsdl:part element="impl:temperatureConverterFahrenheitTOCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Converter">

      <wsdl:operation name="temperatureConverterFahrenheitTOCelsius">

         <wsdl:input message="impl:temperatureConverterFahrenheitTOCelsiusRequest" name="temperatureConverterFahrenheitTOCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:temperatureConverterFahrenheitTOCelsiusResponse" name="temperatureConverterFahrenheitTOCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConverterSoapBinding" type="impl:Converter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="temperatureConverterFahrenheitTOCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="temperatureConverterFahrenheitTOCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="temperatureConverterFahrenheitTOCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConverterService">

      <wsdl:port binding="impl:ConverterSoapBinding" name="Converter">

         <wsdlsoap:address location="http://localhost:8080/TemperatureConverter/services/Converter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
